<li><i class="fas fa-hamburger"></i>
    {{burger_name}}

    {{#if devoured}}<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        CHOMP!
    </button>{{else}}<button class="delete-burger" data-id="{{this.id}}">clear</button>{{/if}}
</li>